html,body{
  margin:0;
  height:100%;
}
body{
  position:relative;
}
.navbar {
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;  
    
}
.nav-link {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  color: #007bff !important;
}



.navbar.navbar-bg-onscroll.fixed-top {
  background-color: white !important;
  color: #007bff !important;
  transition: all .3s ease-out;
}

.navbar.navbar-bg-onscroll.fixed-top--fade {
  transition: all .4s ease-out;
}
/*.about-me{
  background-color:white;
  min-height:100%;
  
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url("back.jpg");
  
  
}*/
/*.progress.active .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}*/
/*.about-me-mid{
  to be used on mid devices*
  background-color:white;
  min-height:100%;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url("back1.jpg");
  background-position: 100% -40%;
}*/

/*.about-me-mob{
  background-color:white;
  min-height:100%;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url("back1.jpg");
  background-position: 100% -10%;

}*/

#intro{
  font-family: 'Montserrat', sans-serif;
  
  
  
}
.bg-p{
  font-size: 30px;
  top: 150px;
}

.mob-p{
  font-size: 20px;
  top: 120px;
  
}
.nav-link{
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  color: white;
  
}

#about-me{
  min-height:100%;
}
#inside{
    background-color:white;
    min-height:20%;
}
#skills{
  background-color:white;
  min-height:100%;
  
}
#projects{
  background-color:white;
  min-height:100%; 
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  
  color: #007bff;
  
  background-color: transparent;

  border-bottom: 5px solid #007bff;
}

.nav-pills .nav-link {
  border-radius: 0rem; 
}


.ratio {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-image: url(me.png);
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 50%;
    border: 1px solid black;
    /*top: 200px;
    left: 350px;*/
}
.mob-display{
    top: 50px;
    display: block;
}


/*----------------------------------
  Promo Block v1
------------------------------------*/
.u-promo-block {
  position: relative;
  min-height: 100vh;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}

.u-promo-block--mheight-450 {
  min-height: 450px;
}

.u-promo-block--mheight-500 {
  min-height: 300px;
}

.u-promo-block--mheight-600 {
  min-height: 600px;
}

@media (max-width: 1199px) {
  .u-promo-block {
    background-attachment: fixed;
  }
}

/*----------------------------------
  Overlays
------------------------------------*/
.u-overlay {
  position: relative;
}

.u-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-overlay--dark::after {
  background-color: rgba(27, 30, 36, 0.3);
}

.u-overlay--light::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.u-overlay__inner {
  position: relative;
  z-index: 1;
}


.u-avatar {
  border: solid 3px #fff;
}
.u-pull-half {
  transform: translate3d(0, -80%, 0);
}

.u-box-shadow-lg {
  box-shadow: 0 0.4rem 2.2rem 0 rgba(27, 30, 36, 0.1);
}



